.timeInformation {
  background-color: #dcdbdb;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px; }
  .timeInformation h2 {
    font-style: oblique;
    font-family: Signika;
    color: #1c1c1c; }
  .timeInformation ul {
    list-style-type: square;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1c1c1c; }
  .timeInformation li {
    border-left: 1px solid #1c1c1c; }
