* {
    margin: 0;
    padding: 10;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}
@font-face{
    font-family: Signika;
    src: url(../fonts/Signika_Negative/SignikaNegative-VariableFont_wght.ttf);
}
@font-face{
    font-family: Signika1;
    src: url(../fonts/Signika_Negative/static/SignikaNegative-Bold.ttf);
}

/* HEADER */

.rowHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    background-image: url(../img/fondoblanco.jpg);
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: outset;
    border-color: rgb(202, 191, 177);
}

.navHeader{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly; 
    align-items: center;
    font-family: Lobster;
    
}
.navHeader li {list-style-type: none;
padding: 10px;font-size: 25px;}
.navHeader li a {text-decoration-line: none;
    color: rgb(92, 85, 76);
    transition: font-size .2s;
}

.navHeader__item1:hover, .navHeader__item1:active {font-size: 200%;}
.navHeader__item2:hover, .navHeader__item2:active {font-size: 200%;}
.navHeader__item4:hover, .navHeader__item3:active {font-size: 200%;}
.navHeader__item5:hover, .navHeader__item4:active {font-size: 200%;}
.logoImage{
    width: 50px;
    height: 50px;
}

.welcomeImage{
    background-image: url(../img/altBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;
    display: flex;
    animation-name: animation1;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 2s;


}

@keyframes animation1 {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

.welcomeSay{
    font-size: 100px;
    font-family: Signika;
    font-style: oblique;
    color: rgb(28, 28, 28);
    position: absolute;
    top: 390px;
    left: 50px;
}

.welcomePar{
    font-size: 60px;
    font-family: Signika;
    color: rgb(77, 77, 77);
    position: absolute;
    top: 490px;
    left: 70px;
}
 
@media screen and (max-width:568px){
    .welcomeSay {font-size: 40px; position: absolute; top: 190px; left: 20px;}
    .welcomePar {font-size: 25px; position: absolute; top: 225px; left: 28px;}
    .welcomeImage {height: 325px;}
    .navHeader {font-size: 10px;}
    .navHeader li {font-size: 23px;}
    .rowHeader {height: 65px;}
}

/* Gallery */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondoblanco.jpg);
}

.checkProducts{
    font-size: 50px;
    font-family: Signika;
    font-style: oblique;
    color: rgb(36, 36, 36);
    margin: 30px;
    padding: 20px;
}

.shopGallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
}

.shopGallery .img-box{
    position: relative;
}

.shopGallery .img-box img{
    border-radius: 10px;
    width: 350px;
    height: 350px;
    opacity: 0.6;
    transition: all 1.2s;
}

.shopGallery .img-box span{
    position: absolute;
    bottom: 30px;
    left: 140px;
    color: rgb(247, 247, 247);
    font-family: Signika1;
    font-style: bold;
    font-size: 20px;
}

.shopGallery a {text-decoration-line: none;
    color: rgb(34, 34, 34);
    transition: font-size .2s;
}

.shopGallery .img-box img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.pagination {
    padding-top: 20px;
}

.pagination li a {
    color: black;
}


@media screen and (max-width:568px){
    .checkProducts {font-size: 25px;}
    .shopGallery {grid-template-columns: auto;}
}

/* About us */

.aboutUs{
    font-size: 50px;
    font-family: Signika;
    font-style: oblique;
    color: rgb(21, 21, 21);
    margin: 5px;
    padding: 5px;
}

.aboutFlex{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(21, 21, 21);
    gap: 60px;
}

.aboutPar {
    margin-bottom: 140px;
}

.aboutFlex p a {text-decoration-line: none;}

.bakerImage{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 130px;
    padding-bottom: 20px;
    padding-top: 10px;
}

@media screen and (max-width:568px){
    .aboutUs {font-size: 30px;}
    .aboutFlex {flex-direction: column; gap: 1px;}
    .bakerImage {margin: 0px;}
}

/* Footer */

.contact{
    margin: 10px;
    font-family: Signika1;
    font-style: normal;
    color: rgb(134, 21, 105);
}

.navFooter{
    background-image: url(../img/fondorosa.jpg);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: rgb(247, 221, 238);
    border-style: outset;
}

.contactFooter{
    margin: 60px;
    padding-top: 20px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1%;
    font-size: 24px;
    font-family: Signika;
    font-style: italic;
}

.contactList {
    display: flex;
    flex-direction: row;
}

.contactList li {list-style-type: none;
    color: rgb(134, 21, 105);
    margin-left: 100px;
}

.contactList li a {text-decoration-line: none;
    color: rgb(134, 21, 105);
    transition: color .2s;
}

.contactList li a:hover{
    color: rgb(182, 130, 175);
} 
    

.logoImage1moretime{
    margin: 10px;
    width: 90px;
    height: 100px;
    position: absolute;
    right: 30px;
}

@media screen and (max-width:568px){
    .navFooter{width: 483px;}
    .contactFooter{padding-left: 0px;margin: 0px;justify-content: space-between;}
    .contactList li {margin-left: -20px;font-size: 20px;width: 100px;}
    .logoImage1moretime {position: absolute; right: 0px;}
}

/* SHOP, RECIPES PAGE */

.rowHeaderS {
display: flexbox;
flex-direction: row;
flex-wrap: nowrap;
width: 100%;
background-image: url(../img/fondoblanco.jpg);
border-bottom: 1px;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-style: outset;
border-color: rgb(202, 191, 177);
position: fixed;
}

.navHeaderS{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly; 
    align-items: center;
    font-family: Lobster;

    
}
.navHeaderS li {list-style-type: none;
padding: 10px;font-size: 25px;}
.navHeaderS li a {text-decoration-line: none;
    color: rgb(92, 85, 76);
    transition: font-size .2s;
}

.navHeaderS__item1:hover, .navHeader__item1:active {font-size: 200%;}
.navHeaderS__item2:hover, .navHeader__item2:active {font-size: 200%;}
.navHeaderS__item4:hover, .navHeader__item3:active {font-size: 200%;}
.navHeaderS__item5:hover, .navHeader__item4:active {font-size: 200%;}
.logoImage{
    width: 50px;
    height: 50px;
}
.shopPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(248, 241, 250);
}

.shopNav{
    background-color: rgb(135, 135, 135);
    width: 320px;
    height: 1100px;
    margin-top: 87px;
    position: fixed;
}

.shopNav p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(236, 236, 236);
    margin-top: 50px;
    margin-left: 50px;
}

.shopNav input{
    margin-top: 10px;
    margin-left: 40px;
}

.menuList{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
}

.menuList li a {
    text-decoration-line: none;
    color: rgb(244, 244, 244);
    margin-top: 50px;
    margin-bottom: 100px;
}

.storeGallery{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    gap: 40px;
    padding-left: 500px;
    padding-top: 120px;
}

.storeGallery .boxImage{
    position: static;
}

.storeGallery .boxImage img {
    border-radius: 10px;
    width: 300px;
}

@media screen and (max-width:568px){
    .shopPage {flex-direction: column;gap: 0px;height: 4650px;}
    .shopNav {position: fixed;margin-top:65px;width: 700px;height: 300px;display: grid;
    grid-template-columns: 35% 70%;
    grid-template-rows: auto auto;}
    .shopNav p {padding-top: -10px;margin-top: 10px;padding-left: 0px;}
    .menuList {font-size: 25px;margin-top: -60px;padding-top:0px;display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: 20px;
    align-items: 10px; column-gap: 50px;row-gap: 1px;}
    .menuList li {gap: 10px;}
    .storeGallery .boxImage{position: static;}
    .storeGallery {grid-template-columns: auto;position: static;padding-left: 100px;padding-top: 425px;}
    .form-control-cus{height: 40px;width:200px;position: relative;top: 4px;right: 60px;}
    .navHeaderS {font-size: 10px;}
    .navHeaderS li {font-size: 23px;}
    .rowHeaderS {height: 65px;}
}

/* ABOUT PAGE */

body {
    background-image: url(../img/fondoblanco.jpg);
}

.aboutPage {
    background-color: rgb(245, 245, 245);
    border-radius: 40px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Signika1;
    font-style: oblique;
}

.aboutPage p {
    font-family: Signika;
}

.aboutPage img {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}