
$tittle-color: rgb(28, 28, 28);

@mixin paddings($paddingLeft,$paddingTop,$paddingBottom){
    padding-left: $paddingLeft;
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
}

.timeInformation{
    background-color: rgb(220, 219, 219);
    @include paddings(50px,30px,30px);
        ul{
            list-style-type: square;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
            li{
                border-left: 1px solid $tittle-color;
            }
}

.extraa{
    @extend .timeInformation;
    font-family: Signika;
    font-style: oblique;
    font-size: 30px;
}
  
$horario: (
    red:rgb(209, 11, 11),
   green:rgb(23, 186, 23),
   yellow:rgb(233, 200, 34) 
);

@each $item, $color in $horario{
    .color-#{$item} {
        color: $color;
    }
}


